*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5f6fa;
}

.container{
display:flex;
min-height:100vh;
}

.sidebar{
width:240px;
background:#102542;
color:white;
padding:20px;
}

.logo{
font-size:24px;
font-weight:bold;
margin-bottom:40px;
}

.menu a{
display:block;
color:white;
text-decoration:none;
padding:12px;
margin-bottom:10px;
border-radius:5px;
}

.menu a:hover{
background:#1e3d6b;
}

.content{
flex:1;
padding:30px;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

table{
width:100%;
background:white;
border-collapse:collapse;
}

th{
background:#102542;
color:white;
}

th,td{
padding:12px;
border:1px solid #ddd;
text-align:center;
}

button{
padding:10px 15px;
border:none;
cursor:pointer;
border-radius:5px;
background:#2563eb;
color:white;
}

button:hover{
opacity:0.9;
}

.excluir{
background:#dc2626;
}

input,select{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:5px;
}

.oculto{
display:none;
}